@media (min-width: 320px) and (max-width: 767.98px) {
    body {
        max-width: 767.98px;
        min-width: 320px;
        /*overflow-x: hidden;*/
    }
    * { margin:0; }

    .main-container {
        padding:0 14px 0 14px;
    }

    * {
        margin: 0;
    }

    .logo {
        width: 30%;
        margin-bottom: 30px;
        justify-self: center;
    }

    .info {
        margin-bottom: 35px;
        justify-self: flex-start;
        padding-left:20px;
    }

    .mt-60 {
        margin-top: 60px;
    }

    /*********** nav *****************/
    nav li {
        width: 100%;
        margin: 0;
    }

    /*********** head-block *****************/
    .head-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .head-block h1 {
        margin-top: 35px;
        font-size: 22px;
    }

    /*********** form ****************/
    .form-container {
        width: 100%;
        justify-content: center;
    }

    .form-container .i-search {
        display: block;
        color: white;
        padding: 5px;
    }

    .btn-submit {
        border-radius: 15px;
        padding: 5px 10px;
        width: 49px;
        height: 49px;
    }

   input[type=text] {
        width: 64%;
    }

    /*********** Activity ************/
    .activity-container {
        display: flex;
        flex-direction: column;
        justify-items: initial;
        gap: 30px;
        padding:0 14px 0 14px;
    }

    .activity-container img {
        width: 100%;
        height: 141px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activity-container .card {
        background-color: white;

    }

    .activity-container a {
        width: 100%;
    }

    /*********** Filter ***********/
    .filter-bar {
        display: flex;
        flex-direction: column;
        height: 161px; /* fixe */
        max-width: initial; /* Réinitialise la largeur max de la barre filtre à sa valeur initiale */
    }

    .filter-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
        height: 50px; /*fixe*/
    }

    .filter-bar h2 {
        align-self: flex-start;
    }

    .filter {
        align-items: center;
        height: 50px; /*fixe*/
        width: 48%;
        box-sizing: border-box;
    }

    .filter p {
        font-size: clamp(11px, 1vw, 14px);
        margin: 0;
    }

    /*** Hébergements & populaires ***/
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        width: 100%;
        padding-bottom: 30px;
    }


    /*** Hébergements ***/
    .hebergements-and-populaires .hebergements {
        width: 100%;
        background: #FFFFFF;
    }

    .cards a {
        width: 100%;
    }

    .hebergements .cards {
        flex-direction: column;
    }

    /*********** Header **********/
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .no-display {
        display: none;
    }

    /********** cards *************/
    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .cards a {
        margin-bottom: 15px;
    }

    /********** Nav *************/
    nav ul {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    nav li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

    }

    .active {
        border-top: none;
        width: 100%;
        padding-top: 0;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--main-bg-color);;
    }

    .active:hover {
        padding-top: 0;
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    /*********** Footer **********/
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--main-bg-color);
    }

}
