/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/********* icons ***********/
.fa-solid {
    color: var(--main-color);
}

.fa-info {
    width: 24px;
    height: 24px;
    padding: 5px 5px 0 5px;
    text-align: center;
    color: var(--main-color);
    border: 1px solid #D9D9D9;
    border-radius: 50%;


}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.intro h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.intro p {
    margin-top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: transform 0.3s ease-in-out;
}

.card img {
    object-fit: cover;
}

.card:hover {
    transform: scale(1.1);
    margin:0 15px 0 15px;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.hebergements-and-populaires .card-title, .card-subtitle {
    font-size: clamp(12px, 1.2vw, 16px);
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px; /* espace entre list card et afficher plus*/
    margin-bottom: 0;

}

.hebergements .card-rating {
    margin-top: 4px;
}

.hebergements .card {
    height: 207.25px;
    margin-top: 33px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 10px 0;
    box-shadow: 0 3px 15px 0 #0000001A;
}

.hebergements .card-title {
    margin-top: 0
}

.hebergements .card-subtitle {
    margin: 0;
}

.cards img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border: 5px solid #ffffff;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
}

.cards .card-content {
    width: 100%; /* width: 250.33px; = (cardcontent 250px/card250)*100 = 100%   */
    height: 64.25px;
    padding: 0 15px 0 15px; /* padding left et right */
    display: flex;
    flex-direction: column; /* flexbox - les cartes verticales avec un espace égale */
    justify-content: space-between;
}

.cards a {
    width: 30%;
}

.hebergements .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* espaces égaux entre les cartes*/
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********* logo **********/
.logo img {
    width: 100px;
    margin-top: 10px;
    justify-content: flex-start;
}

/********* nav ***********/
nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

}

nav li {
    margin-left: 20px;
}

.active:hover {
    border-top: 2px solid var(--main-color);
    padding-top: 20px;
}

nav > * {
    justify-content: flex-end;
}

/********* header ********/
header {
    display: flex;
    align-items: center;
}

/********** form *********/
form {
    display: flex;
}

input[type=text] {
    border: none;
    width: 195px;
    font-size: 18px;
    color: black;
    padding-top: 0;
    font-weight: bold;
    text-align: center;
}

.btn-submit {
    background-color: var(--main-color);
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 132px;
    height: 49px;
    font-size: 16px;
    padding: 15px 16px 15px 16px;
}

.form-container {
    border: 1px solid var(--main-bg-color);
    display: flex;
    gap: 24px;
    width: 377px;
    height: 49px;
    padding: 0;
    border-radius: 15px;
    margin-bottom: 20px;
}

.form-container .i-search {
    display: none;
}

.form-container button {
    border: none;
    font-weight: bold;
}

.form-container, .filter-bar, .info {
    margin-top: 35px;

}

/*********** filter *************/
.filter-bar {
    max-width: 758px;
    height: 50px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.filter-bar h2 {
    font-size: 18px;
}

.filter-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px;
    border: #D9D9D9 solid 2px;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    cursor: pointer;
}

.filter p {
    font-size: 18px;
    font-weight: 700;
}

.filter i {
    font-size: 22px;
}

.filter-container :hover {
    background-color: #DEEBFF;
}

.filter-container a {
    cursor: pointer;
}

/*********** end filter **********/
/*********** Activity ************/
.activity-container {
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
}

.activity-container img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activity-container a {
    width: 80%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activity-container .card-txt {
    padding-left: 10px;

}

/*********** cards **************/
.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*********** icon ***************/
.i-2x {
    width: 30px;
    background-color: #dedede;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 18px;
    border-radius: 15px 0 0 15px;
    color: black;
}

/************ footer ***********/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--main-bg-color);
    margin-top: 30px;

}

.footer-block {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px
}

.footer-block ul {
    padding: 0;
    list-style-type: none;
}

.footer-block li {
    margin-top: 10px;
}

footer li:hover {
    color: var(--main-color);
}

