/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/********* icons ***********/
.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card:hover {
    transform: scale(1.1);
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding-bottom: 0;
}

.hebergements img {
    width: 230px;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 25px;
}

.populaires-cards img {
    width: 33%;
    height: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********* logo **********/
.logo img {
    width: 100px;
    margin-top: 10px;
    justify-content: flex-start;
}

/********* nav ***********/
nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

}

nav li {
    margin-left: 20px;
}

.active:hover {
    border-top: 2px solid var(--main-color);
    padding-top: 20px;
}

.inactive:hover {
    border-top: 2px solid var(--main-color);
    padding-top: 20px;
}

nav > * {
    justify-content: flex-end;
}

/********* header ********/
header {
    display: flex;
    align-items: center;
}

/********** form *********/
form {
    display: flex;
}

input {
    border: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.btn-submit {
    background-color: var(--main-color);
    color: white;
    border-radius: 0 10px 10px 0;
    font-size: 22px;
}

.form-container {
    width: 30%;
    padding: 0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-container .i-search {
    display: none;
}

.form-container button {
    border: none;
    font-weight: bold;
}

/*********** filter *************/
.filter-container {
    display: flex;
    align-items: center;
}

.filter-container ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.filter-container li {

    margin-left: 20px;
    border: 3px solid var(--main-bg-color);
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
}

.filter-container li:hover {
    background-color: var(--filter-bg-color);
}

.filter-container a {
    cursor: pointer;
}

/*********** end filter **********/
/*********** Activity ************/
.activity-container {

    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.activity-container img {
    width: 250px;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activity-container a {

    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activity-container .card-txt {
    margin-left: 15px;

}

/*********** cards **************/
.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*********** icon ***************/
.i-2x {
    background-color: #dedede;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    color: black;
}

/************ footer ***********/
footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--main-bg-color);
    align-items: flex-start;
}

.footer-block {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px
}

.footer-block ul {
    padding: 0;
    list-style-type: none;
}

.footer-block li {
    margin-top: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
@media (max-width: 1230px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .card {
        width: 90%;
    }

    .hebergements a {
        width: 100%;
    }

    .hebergements img {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .populaires-cards a {
        width: 40%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*********** filter *************/
    .filter-container {
        display: flex;
        margin: auto;
    }

    .filter-container ul {
        display: flex;
    }

    .filter-container ul > * {
        list-style-type: none;
        margin-left: 10px;
        border: 2px solid var(--main-bg-color);
        padding: 7px;
        border-radius: 20px;
        font-size: 15px;
    }

    .filter-container a {
        /*font-size: 12px*/;
    }

    .filter-container li:hover {
        background-color: var(--filter-bg-color);
    }

    .filter-container a {
        cursor: pointer;
    }

    /*********** Activity ************/
    .activity-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .activity-container a {
        width: 100%;
        height: auto;
    }

    .activity-container img {
        width: 100%;
        height: 220px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activity-container .card {
        background-color: var(--main-bg-color);
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        height: 275px;
    }

    .card h3 {
        font-size: 15px;
        margin-top: auto;
    }

    .card-txt {
        margin-left: 0;
    }
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .card {
        width: 90%;
    }

    .hebergements a {
        width: 100%;
    }

    .hebergements img {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .populaires-cards a {
        width: 40%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*********** filter *************/
    .filter-container {
        display: flex;
        margin: auto;
    }

    .filter-container ul {
        display: flex;
    }

    .filter-container ul > * {
        list-style-type: none;
        margin-left: 10px;
        border: 2px solid var(--main-bg-color);
        padding: 7px;
        border-radius: 20px;
        font-size: 15px;
    }

    .filter-container a {
        /*font-size: 12px*/;
    }

    .filter-container li:hover {
        background-color: var(--filter-bg-color);
    }

    .filter-container a {
        cursor: pointer;
    }

    /*********** Activity ************/
    .activity-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .activity-container a {
        width: 100%;
        height: auto;
    }

    .activity-container img {
        width: 100%;
        height: 220px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activity-container .card {
        background-color: var(--main-bg-color);
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        height: 275px;
    }

    .card h3 {
        font-size: 15px;
        margin-top: auto;
    }

    .card-txt {
        margin-left: 0;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    body {
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    /*********** nav *****************/
    nav li {
        width: 100%;
        margin: 0;
    }

    /*********** form ****************/
    .form-container {
        width: 100%;
        justify-content: center;
    }

    .form-container .i-search {
        display: block;
        color: white;
        padding: 5px;
    }

    .btn-submit {
        border-radius: 20px;
        padding: 5px 10px;
    }

    /*********** Activity ************/
    .activity-container {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .activity-container img {
        width: 100%;
        height: 250px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activity-container .card {
        background-color: white;
        width: 100%;
    }

    .activity-container a {
        width: 100%;
    }

    /*********** Filter ***********/
    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-container ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 0;
        justify-content: center;
    }

    .filter-container li > * {
        display: flex;
        padding: 5px;
        font-size: 16px;
        width: 150px;
    }

    /********** Hebergement and populaires **********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
        padding-bottom: 10px;
    }

    .hebergements img {
        width: 100%;
        object-fit: cover;
    }

    .hebergements .card {
        width: 100%;
    }

    .hebergements {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards img {
        width: 40%;
        height: 130px;
        object-fit: cover;
    }

    /*********** Header **********/
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /********** form **************/
    .no-display {
        display: none;
    }

    .form-container {
        width: 20px;
    }

    /********** cards *************/
    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .cards a {
        margin-bottom: 15px;
    }

    /********** Nav *************/
    nav ul {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    nav li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

    }

    .active {
        border-top: none;
        width: 100%;
        padding-top: 0;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--main-bg-color);;
    }
    .active:hover {
        padding-top: 0;
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    .inactive {
        border-top: none;
        width: 100%;
        padding-top: 0;
        border-bottom: 2px solid var(--main-bg-color);
        padding-bottom: 20px;
    }

    .inactive:hover {
        padding-top: 0;
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    /*********** Footer **********/
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--main-bg-color);
    }

}

